# PostgreSQL Connection URI for postgres_exporter
# Format: postgresql://username:password@hostname:port/database?sslmode=disable
DATA_SOURCE_NAME=postgresql://user:password@postgres:port/dbname?sslmode=disable
